#Ignore vscode AI rules
.github\instructions\codacy.instructions.md

# Ignorar archivos grandes y temporales
*.grib2
*.nc
*.png
*.jpg
*.jpeg
*.dll
acum_prec.nc
dados_eta_8km/
mapa_precipitacion_eta.png
mapa_precipitacion_wrf.png
wrf_cptec_6dias.grib2
wrf_cptec_6dias.grib2.*
imagenes_cielo/
__pycache__/
.env
.venv
